@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
:root{
    --color-text-black: #333333;
    --color-text-white: #FFF;
    --color-primary: #3D2C24;
    --color-scent-color: #F2E2D2;
    --color-notif: #FF0060;
    --color-success: #1B9C85;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    background-color: #f2e3da;
}

body.hidden {
    display: none;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: var(--color-primary);
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: 35vh;
    border-radius: 12rem;
}

.order-list {
    height: 100vh;
    padding: 10rem 20px 0 20px;
    background-color: var(--color-scent-color);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-top: -10rem;
}

.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.food-image {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-right: 15px;
}

.order-details {
    flex-grow: 1;
}

.food-name {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.total {
    display: block;
    color: #555;
    font-weight: bold;
}
.quantity{
    display: block;
    color: #5B89E2;
} 

.summary {
    position: fixed;
    bottom: 0;
    background-color: var(--color-primary);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.complete-order-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--color-scent-color);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    color: var(--color-text-black);
}

.complete-order-btn:hover {
    background-color: #ff8f00;
    color: black;
}

.table-num{
    width: 100%;
    align-items: center;
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.table-num input{
    width: 10%;
}

.container p{
    font-size: 15px;
    font-weight: 400;

}

select {
    width: 30%;
    background-color: #3D2C24;
    border: #5c4033 2px solid;
    position: relative;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-weight: bold;
    margin: 5px;
}

select>option {
    background-color: #5c4033;
    padding: 5px;
    color: white;
    font-weight: bold;
}
