@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
:root{
    --color-text-black: #333333;
    --color-text-white: #FFF;
    --color-primary: #3D2C24;
    --color-scent-color: #F2E2D2;
    --color-notif: #FF0060;
    --color-success: #1B9C85;
}

body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: #f4ede4;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    background-color: var(--color-scent-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 100vh;
}

.back-button {
    font-size: 24px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 100%;
    border-bottom: 2px solid #ccc;
}

.details {
    padding: 20px;
    text-align: center;
}

.details h1 {
    color: var(--color-text-black);
    font-size: 24px;
    margin: 10px 0;
}

.description{
    font-size: 20px;
    color: var(--color-text-black);
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 90px;
    padding: 2px 0;
    background-color: white;
    border-radius: 10px;

}

.quantity-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.quantity {
    margin: 0 15px;
    font-size: 20px;
}

.total p {
    font-size: 18px;
    margin: 10px 0;
}

.order-btn {
    background-color: #5c4230;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.order-btn:hover {
    background-color: #4a3526;
}

/* Responsive styles */
@media (max-width: 600px) {
    .container {
        width: 100%;
        margin: 10px auto;
    }

    .details h1 {
        font-size: 20px;
    }

    .details p {
        font-size: 12px;
    }

    .quantity-btn {
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
        outline: none;
        border: none;
        color: var(--color-primary);
    }

    .quantity {
        font-size: 16px;
        margin: 0 10px;
    }

    .total p {
        font-size: 16px;
    }

    .order-btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}
