body {
    font-family: Arial, sans-serif;
    background-color: #f2e3da;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f8eee9;
}

.login-box {
    padding: 100px;
}

h2 {
    margin-bottom: 20px;
    color: #5a352a;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-group label {
    display: inline-block;
    width: 30px;
}

.input-group input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.show-password {
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5a352a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4e2f26;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f8eee9;
}

.logo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #5a352a;
}

#register-form {
    display: none;
}